@page
@model Dropify.Pages.Admin.SettingsModel
@{
    Layout = "_AdminLayout";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-title">Settings</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="settings.html">Settings</a></li>
                        <li class="breadcrumb-item active">Email Settings</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="settings-menu-links">
                    <ul class="nav nav-tabs menu-tabs">
                    
                        <li class="nav-item active">
                            <a class="nav-link" href="email-settings.html">Email Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="social-settings.html">Social Media Login</a>
                        </li>
                       
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="card-title">Change Password</h5>
                                <div class="status-toggle d-flex justify-content-between align-items-center">
                                    <input type="checkbox" id="status_2" class="check" checked>
                                    <label for="status_2" class="checktoggle">checkbox</label>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <form method="post" >
                                    <div class="settings-form">
                                        <div class="form-group form-placeholder">
                                            <label>Old Password <span class="star-red">*</span></label>
                                            <input type="password" class="form-control" asp-for="OldPassword">
                                            @if (!string.IsNullOrEmpty(Model.OldPasswordMessage))
                                            {
                                                <span style="color:red;"><p>@Model.OldPasswordMessage</p></span>
                                            }
                                        </div>
                                        <div class="form-group form-placeholder">
                                            <label>New Password <span class="star-red">*</span></label>
                                            <input type="password" class="form-control" asp-for="User.Pword">
                                            <span style="color:red;" asp-validation-for="User.Pword"></span>

                                        </div>
                                        <div class="form-group form-placeholder">
                                            <label>Confirm Password<span class="star-red">*</span></label>
                                            <input type="password" class="form-control" asp-for="ConfirmPassword">
                                            <span style="color:red;"><p>@Model.ConfirmPasswordMessage</p></span>
                                        </div>
                                        <div class="form-group mb-0">
                                            <div class="settings-btns">
                                                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
