@page
@model CustomerSupportModel
@{
    Layout = "_LayoutProfile";
}
<!DOCTYPE html>
<html>
  <head>
    <title>Customer Feedback Form</title>
    <link href="~/css/customersp.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="testbox">
        <form method="post">
            <h1>Customer Feedback Form</h1>
            <p>Please take a few minutes to give us feedback about our service by filling in this short Customer Feedback Form. We are conducting this research in order to measure your level of satisfaction with the quality of our service. We thank you for your participation.</p>
            <hr />
            <h3>Order support request</h3>
            
            <h4>What would you like us to help you with?</h4>
            <textarea rows="5" asp-for="Model.Body"></textarea>
            <input class="email" type="hidden" name="name"  />
            <div class="btn-block">
                <button type="submit" asp-page-handler="SendEmail">Send Feedback</button>
            </div>
        </form>
        
    </div>
  </body>
</html>