@page
@model Dropify.Pages.Profile.OrderDetailModel
@{
    Layout = "_Layout";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Mentoring - Categories Page</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Admin/img/favicon.png">

    <link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Admin/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Admin/css/feathericon.min.css">

    <link rel="stylesheet" href="~/Admin/plugins/datatables/datatables.min.css">

    <link rel="stylesheet" href="~/Admin/css/style.css">
</head>
<div class="row">
    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        <div class="profile-sidebar">
            <div class="user-widget">
                <div class="pro-avatar">JD</div>
                <div class="user-info-cont">
                    <h4 class="usr-name">Jonathan Doe</h4>
                </div>
            </div>

            <div class="custom-sidebar-nav">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fas fa-home"></i>Dashboard <span>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/Profile/AddressManagement">
                            <i class="fas fa-clock"></i>Address Management <span>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="/Profile/ChangePassword">
                            <i class="fab fa-blogger-b"></i>Change Password <span>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/Profile/UserInformation">
                            <i class="fas fa-user-cog"></i>User Information <span>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/Login/Login">
                            <i class="fas fa-sign-out-alt"></i>Logout <span>
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Order Detail</h3>
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       href="#bottom-justified-tab" data-bs-toggle="tab">Order Detail</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="bottom-justified-tab">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class=" table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th width="100">Order Id</th>
                                                                    @* <th width="100">Order Name</th> *@
                                                                    <th width="100">Product Name</th>
                                                                    <th width="300">Quantity</th>
                                                                    <th width="300">Price</th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @if (Model.OrderDetails != null)
                                                                {
                                                                    @foreach (var o in Model.OrderDetails)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @o.OrderId
                                                                            </td>
                                                                            
                                                                            <td>
                                                                                @o.Product.Name
                                                                            </td>
                                                                            <td>
                                                                                @o.Quantity
                                                                            </td>
                                                                            <td>
                                                                                <span class="price" style="font-weight:normal; font-size:medium">@o.OrderedPrice</span>
                                                                            </td>
                                                                            

                                                                            
                                                                        </tr>
                                                                    }
                                                                }
                                                                
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        


    </div>
    
</div>
<script>
    var moneys = document.querySelectorAll('.price');
    moneys.forEach(function (money) {
        // Lấy giá trị số từ phần tử HTML
        var amountString = money.textContent.replace(/[^\d.-]/g, ''); // Loại bỏ các ký tự không phải số, dấu phẩy hoặc dấu trừ
        var amount = parseFloat(amountString); // Chuyển đổi chuỗi thành số

        // Định dạng số tiền dưới dạng chuỗi theo mong muốn
        var formattedMoney = amount.toLocaleString('vi-VN', { minimumFractionDigits: 0, maximumFractionDigits: 0 });

        // Thêm đơn vị tiền tệ nếu cần
        formattedMoney += ' VND';

        // Gán giá trị đã định dạng vào phần tử HTML
        money.textContent = formattedMoney;
    });
</script>
<script src="~/Admin/js/jquery-3.6.0.min.js"></script>

<script src="~/Admin/js/bootstrap.bundle.min.js"></script>

<script src="~/Admin/js/feather.min.js"></script>

<script src="~/Admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="~/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Admin/plugins/datatables/datatables.min.js"></script>

<script src="~/Admin/js/script.js"></script>