@page
@model Dropify.Pages.Admin.New.AddNewModel
@{
    Layout = "_AdminLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tiny.cloud/1/37b95ympk7cm2jqe22oiefgl3pw5dn0bi3f26kebhr6e3a2p/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Add News</title>
</head>
<body>
    <div class="main-wrapper">
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Add News</h3>
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 blog-details">
                                        <form method="post" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label>News Title</label>
                                                <input class="form-control" type="text" name="title">
                                            </div>
                                            <div class="form-group">
                                                <label>News Images</label>
                                                <div>
                                                    <input class="form-control" name="fileImg" type="file">
                                                    <small class="form-text text-muted">Max. file size: 50 MB. Allowed images: jpg, gif, png. Maximum 10 images only.</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>News Category</label>
                                                        <select class="select select2-hidden-accessible form-control" name="category" tabindex="-1" aria-hidden="true">
                                                            @if(Model.products != null)
                                                            {
                                                                @foreach(var p in Model.products)
                                                                {
                                                                    <option value="@p.ProductId"> @p.Name</option>
                                                                }
                                                            }
                                                           
                                                        </select>
                                                    </div>
                                                </div>
                                               
                                            </div>


                                            <div class="form-group">
                                                <label>Contents <span class="text-danger">*</span></label>
                                                <textarea type="text" id="tiny" class="form-control service-desc" name="description" placeholder=" Enter new content..."></textarea>
                                            </div>

                                            <div class="m-t-20 text-center">
                                                <button class="btn btn-primary btn-lg">Publish New</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.tiny.cloud/1/cbe4dmnrfnb1r4ampgnr2oiyi9cr4vk0xbosboqsvablktk5/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#tiny',
            plugins: [
                'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                'bullist numlist checklist outdent indent | removeformat | code table help'
        })
    </script>
</body>
</html>
