@page
@model Dropify.Pages.AboutUsModel
@{
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="/assets/img/favicon.png" alt="About Us">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>Welcome to Our Company</h2>
                        <p>
                            We are a team of dedicated professionals committed to providing exceptional services and products to our customers. .
                        </p>
                        <p>
                            At Our Company, customer satisfaction is our top priority. We strive to exceed expectations and build long-lasting relationships with our clients. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
