@page
@model Dropify.Pages.CartModel
@{
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring.dreamguystech.com/html/template/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:32:23 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <div class="main-wrapper">

        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">Cart</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 col-lg-8">
                        <div class="card">
                            <div class="card-body">

                                <form action="">

                                    <div class="info-widget">
                                        <h4 class="card-title">Cart List</h4>
                                        <div class="row">
                                            <div class="card card-table">
                                                <div class="card-body">

                                                    <div class="table-responsive">
                                                        <table class="table table-hover table-center mb-0">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Product</th>
                                                                    <th>Amount</th>
                                                                    <th>Price</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox"></input>
                                                                    </td>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="profile-mentee.html" class="avatar avatar-sm me-2">
                                                                                <img class="avatar-img"
                                                                                     src="assets/img/user/user2.jpg" alt="User Image">
                                                                            </a>
                                                                            <a href="profile-mentee.html">Sản phẩm 1<span>XXL, Red, Extra</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>2</td>
                                                                    <td>450$</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);"
                                                                               class="btn btn-danger">
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox"></input>
                                                                    </td>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="profile-mentee.html" class="avatar avatar-sm me-2">
                                                                                <img class="avatar-img"
                                                                                     src="assets/img/user/user2.jpg" alt="User Image">
                                                                            </a>
                                                                            <a href="profile-mentee.html">Sản phẩm 1<span>XXL, Red, Extra</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>2</td>
                                                                    <td>450$</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);"
                                                                               class="btn btn-danger">
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox"></input>
                                                                    </td>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="profile-mentee.html" class="avatar avatar-sm me-2">
                                                                                <img class="avatar-img"
                                                                                     src="assets/img/user/user2.jpg" alt="User Image">
                                                                            </a>
                                                                            <a href="profile-mentee.html">Sản phẩm 1<span>XXL, Red, Extra</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>2</td>
                                                                    <td>450$</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);"
                                                                               class="btn btn-danger">
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox"></input>
                                                                    </td>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="profile-mentee.html" class="avatar avatar-sm me-2">
                                                                                <img class="avatar-img"
                                                                                     src="assets/img/user/user2.jpg" alt="User Image">
                                                                            </a>
                                                                            <a href="profile-mentee.html">Sản phẩm 1<span>XXL, Red, Extra</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>2</td>
                                                                    <td>450$</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);"
                                                                               class="btn btn-danger">
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox"></input>
                                                                    </td>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="profile-mentee.html" class="avatar avatar-sm me-2">
                                                                                <img class="avatar-img"
                                                                                     src="assets/img/user/user2.jpg" alt="User Image">
                                                                            </a>
                                                                            <a href="profile-mentee.html">Sản phẩm 1<span>XXL, Red, Extra</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>2</td>
                                                                    <td>450$</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);"
                                                                               class="btn btn-danger">
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox"></input>
                                                                    </td>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="profile-mentee.html" class="avatar avatar-sm me-2">
                                                                                <img class="avatar-img"
                                                                                     src="assets/img/user/user2.jpg" alt="User Image">
                                                                            </a>
                                                                            <a href="profile-mentee.html">Sản phẩm 1<span>XXL, Red, Extra</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>2</td>
                                                                    <td>450$</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);"
                                                                               class="btn btn-danger">
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <input type="checkbox"></input>
                                                                    </td>
                                                                    <td>
                                                                        <h2 class="table-avatar">
                                                                            <a href="profile-mentee.html" class="avatar avatar-sm me-2">
                                                                                <img class="avatar-img"
                                                                                     src="assets/img/user/user2.jpg" alt="User Image">
                                                                            </a>
                                                                            <a href="profile-mentee.html">Sản phẩm 1<span>XXL, Red, Extra</span></a>
                                                                        </h2>
                                                                    </td>
                                                                    <td>2</td>
                                                                    <td>450$</td>
                                                                    <td class="text-end">
                                                                        <div class="table-action">
                                                                            <a href="javascript:void(0);"
                                                                               class="btn btn-danger">
                                                                                <i class="fa fa-trash"></i> Delete
                                                                            </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="terms-accept">
                                        <div class="custom-checkbox">
                                            <input type="checkbox" id="terms_accept">
                                            <label for="terms_accept">
                                                I have read and accepted <a href="#">
                                                    Terms
                                                    &amp; Conditions
                                                </a>
                                            </label>
                                        </div>
                                    </div>


                                    <div class="submit-section mt-4">
                                        <button type="submit" class="btn btn-primary submit-btn">
                                            Confirm and
                                            Pay
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4 theiaStickySidebar">

                        <div class="card booking-card">
                            <div class="card-header">
                                <h4 class="card-title">Checkout Summary</h4>
                            </div>
                            <div class="card-body">

                                <div class="booking-user-info">
                                    <a href="profile.html" class="booking-user-img">
                                        <img src="/assets/img/user/user2.jpg" alt="User Image">
                                    </a>
                                    <div class="booking-info">
                                        <h4><a href="profile.html">Darren Elder</a></h4>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">35</span>
                                        </div>
                                        <div class="mentor-details">
                                            <p class="user-location">
                                                <i class="fas fa-map-marker-alt"></i> Newyork, USA
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="booking-summary">
                                    <div class="booking-item-wrap">
                                        <ul class="booking-date">
                                            <li>Date <span>14 Feb 2024</span></li>
                                            <li>Time <span>10:00 AM</span></li>
                                        </ul>
                                        <ul class="booking-fee">
                                            <li>Product Fee <span>100.000VND</span></li>
                                        </ul>
                                        <div class="booking-total">
                                            <ul class="booking-total-list">
                                                <li>
                                                    <span>Total</span>
                                                    <span class="total-cost">100.000VND</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">

            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                    </p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Mentee</h2>
                                <ul>
                                    <li><a href="search.html">Search Mentors</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="booking.html">Booking</a></li>
                                    <li><a href="dashboard-mentee.html">Mentee Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Mentors</h2>
                                <ul>
                                    <li><a href="appointments.html">Appointments</a></li>
                                    <li><a href="chat.html">Chat</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="dashboard.html">Mentor Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +1 315 369 5943
                                    </p>
                                    <p class="mb-0">
                                        <i class="fas fa-envelope"></i>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container-fluid">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2020 Mentoring. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/js/script.js"></script>
</body>

<!-- Mirrored from mentoring.dreamguystech.com/html/template/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:32:23 GMT -->

</html>