@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 *@


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring.dreamguystech.com/html/template/index-three.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:30:20 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Homepage</title>

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="/assets/plugins/slick/slick-theme.css">

    <link rel="stylesheet" href="/assets/plugins/aos/aos.css">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="body-home-one">
    <div class="main-wrapper">
        <section class="home-slide-two home-slide-search d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="home-slide-face aos" data-aos="fade-up">
                            <div class="hometwo-slide-text">
                                <a href="dashboard.html" class="btn bg-stop-learn">Start Your Journey Now</a>
                                <h1>Build Your Business <br>with Dropshipping</h1>
                                <p>Take control of your future by starting your online shopping today</p>
                            </div>

                            <div class="search-box ">
                                <form action="https://mentoring.dreamguystech.com/html/template/search.html">
                                    <div class="form-group search-info location-search ">
                                        <input type="text" class="form-control text-truncate"
                                               placeholder=" Search Categories, Products, etc...">
                                        <a href="search.html"
                                           class="btn bg-search search-btn align-items-center d-flex justify-content-center">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="object-slide-img aos " data-aos="fade-up">
                            <img src="/assets/img/path-img6.jpg" alt>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="most-popular most-popular-two">
            <div class="container">
                <div class="section-top-head">
                    <div class="section-header aos " data-aos="fade-up">
                        <h2>Most Populer Categories</h2>
                        <p class="sub-title">
                            Discover the latest trends and top-selling categories.  
                        </p>
                    </div>
                    <div class="section-btn align-items-center aos " data-aos="fade-up">
                        <a href="search.html" class="btn btn-primary">See All Categories</a>
                    </div>
                </div>
                <div class="popular-categories aos " data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-2 col-md-4">
                            <a href="search.html">
                                <div class="sub-categories bg-design align-items-center">
                                    <div class="categories-img d-flex justify-content-center align-items-center">
                                        <img src="/assets/img/categories/cate-1.svg" alt>
                                    </div>
                                    <div class="categories-text text-center">
                                        <h4>Sản phẩm công thái học</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <a href="search.html">
                                <div class="sub-categories bg-development align-items-center">
                                    <div class="categories-img d-flex justify-content-center align-items-center">
                                        <img src="/assets/img/categories/cate-2.svg" alt>
                                    </div>
                                    <div class="categories-text text-center">
                                        <h4>Đèn công nghệ</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <a href="search.html">
                                <div class="sub-categories bg-software align-items-center">
                                    <div class="categories-img d-flex justify-content-center align-items-center">
                                        <img src="/assets/img/categories/cate-27.png" alt>
                                    </div>
                                    <div class="categories-text text-center">
                                        <h4>Phụ kiện máy tính</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <a href="search.html">
                                <div class="sub-categories bg-business align-items-center">
                                    <div class="categories-img d-flex justify-content-center align-items-center">
                                        <img src="/assets/img/categories/cate-4.svg" alt>
                                    </div>
                                    <div class="categories-text text-center">
                                        <h4>Loa/Tai nghe</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <a href="search.html">
                                <div class="sub-categories bg-marketing align-items-center">
                                    <div class="categories-img d-flex justify-content-center align-items-center">
                                        <img src="/assets/img/categories/cate-5.svg" alt>
                                    </div>
                                    <div class="categories-text text-center">
                                        <h4>Chuột</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <a href="search.html">
                                <div class="sub-categories bg-photography align-items-center">
                                    <div class="categories-img d-flex justify-content-center align-items-center">
                                        <img src="/assets/img/categories/cate-6.svg" alt>
                                    </div>
                                    <div class="categories-text text-center">
                                        <h4>Bàn phím</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="section trending-courses trending-courses-two">
            <div class="container">
                <div class="section-top-head">
                    <div class="section-header aos " data-aos="fade-up">
                        <h2>Most Trending Products</h2>
                        <p class="sub-title">
                            Explore the latest and hottest products that everyone is talking about. 
                            Whether it's cutting-edge electronics or innovative gadgets,
                            discover what's trending and stay ahead of the curve in today's dynamic market. 
                        </p>
                    </div>

                    <div class="section-btn align-items-center aos " data-aos="fade-up">
                        <a href="search.html" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="course-two-all aos " data-aos="fade-up">
                    <div class="row">
                        @foreach(var item in Model.ListProducts)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="course-box">
                                    <div class="product">
                                        <div class="product-img">
                                            <a href="search.html">
                                                <img class="img-fluid" alt src="/assets/img/trend-img5.png" width="600"
                                                     height="300">
                                            </a>
                                        </div>
                                        <div class="product-content">
                                            <div class="course-info d-flex align-items-center">
                                                <div class="rating rating-star">
                                                    <i class="fas fa-star filled"></i>
                                                    <span class="d-inline-block average-rating rate-point ">
                                                        4.2<span class="rate-star-point">(15)</span>
                                                    </span>
                                                </div>
                                                
                                            </div>
                                            <h3 class="title">
                                                @item.Name
                                            </h3>
                                            <div class="rating rating-star rating-two align-items-center">
                                                <div class="rating-img">
                                                    <img src="/assets/img/user/user2.jpg" alt>
                                                </div>
                                                <h5>James Collins</h5>
                                                <div class="course-price">
                                                    <h4>
                                                        <span>$@item.SellOutPrice</span>
                                                        <span>$@item.OriginalPrice</span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>


        <section class="rating-instructor same-dots">
            <div class="container">
                <div class="section-top-head">
                    <div class="section-header aos " data-aos="fade-up">
                        <h2>Top Rating Instructor</h2>
                        <p class="sub-title">
                            Khám phá những hướng dẫn viên được đánh giá cao nhất. Họ là những chuyên gia hàng đầu trong lĩnh vực của mình, sẵn lòng chia sẻ kiến thức và kinh nghiệm để giúp bạn thành công. Hãy tận dụng cơ hội học hỏi từ những người giỏi nhất và tiến xa trên con đường của bạn.
                    </div>
                    <div class="section-btn align-items-center aos " data-aos="fade-up">
                        <a href="profile.html" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="owl-carousel mentoring-course  rating-instructor-slide owl-theme aos " data-aos="fade-up">
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user22.png" alt></a>
                        </div>
                        <div class="team-name">
                            <h4>
                                <a href="profile.html">Jack Wilson</a>
                            </h4>
                            <span class="designation">Developer</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user23.png" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Anna Richard</a>
                            </h4>
                            <span class="designation">PHP Developer</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user24.png" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Kathelen Monero</a>
                            </h4>
                            <span class="designation">Designer</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user25.png" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Kristen Pala</a>
                            </h4>
                            <span class="designation">UI Designer</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user16.jpg" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Daziy Millar</a>
                            </h4>
                            <span class="designation">PHP Expert</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user17.jpg" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Stan Ritter</a>
                            </h4>
                            <span class="designation">Java Developer</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user18.jpg" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Kozlowski</a>
                            </h4>
                            <span class="designation">UI Developer</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user19.jpg" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Michael Guzman</a>
                            </h4>
                            <span class="designation">Angular Expert</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user20.jpg" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Christian Floyd</a>
                            </h4>
                            <span class="designation">.Net Developer</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user21.jpg" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Shawn Howe</a>
                            </h4>
                            <span class="designation">Python Expert</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user22.jpg" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Robert Clayton</a>
                            </h4>
                            <span class="designation">UX Designer</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user24.jpg" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Trevor Davis</a>
                            </h4>
                            <span class="designation">Js Expert</span>
                        </div>
                    </div>
                    <div class="large-team">
                        <div class="student-img">
                            <a href="profile.html"><img src="/assets/img/user/user18.jpg" alt></a>
                        </div>
                        <div class="team-name ">
                            <h4>
                                <a href="profile.html">Paul Dotson</a>
                            </h4>
                            <span class="designation">React Developer</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

@* 
        <section class="trending-courses trending-courses-two popular-course-two same-dots ">
            <div class="container">
                <div class="section-top-head">
                    <div class="section-header aos " data-aos="fade-up">
                        <h2>Most Popular Courses</h2>
                        <p class="sub-title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean
                            accumsan bibendum gravida maecenas augue elementum et neque. Suspendisse imperdiet.
                        </p>
                    </div>
                    <div class="section-btn align-items-center aos " data-aos="fade-up">
                        <a href="search.html" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="owl-carousel popular-course-slide-two owl-theme aos " data-aos="fade-up">
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            4.6<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>85</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>95</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title"><a href="search.html">Information About UI/UX Design Degree</a></h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user2.jpg" alt>
                                    </div>
                                    <h5>Nicole Brown</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$700</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img1.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            4.4<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>85</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>85</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title">
                                    <a href="search.html">Photography Crash Course for Photographer</a>
                                </h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user3.jpg" alt>
                                    </div>
                                    <h5>Paul Dotson</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$200</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img2.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            4.2<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>85</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>75</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title">
                                    <a href="search.html">React – The Complete Guide (React Router)</a>
                                </h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user5.jpg" alt>
                                    </div>
                                    <h5>McFarland</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$400</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img3.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            3.4<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>65</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>85</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title"><a href="search.html">Java (Beginner) Programming Tutorials</a></h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user8.jpg" alt>
                                    </div>
                                    <h5>Michael Johnson</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$100</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img4.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            4.3<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>85</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>90</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title"><a href="search.html">Information About UI/UX Design Degree</a></h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user9.jpg" alt>
                                    </div>
                                    <h5>Kurt Jones</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$500</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img5.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            4.4<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>80</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>80</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title"><a href="search.html">Php (Beginner) Programming Tutorials</a></h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user2.jpg" alt>
                                    </div>
                                    <h5>Jerry Bleau</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$400</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            4.4<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>85</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>85</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title"><a href="search.html">Information About UI/UX Design Degree</a></h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user5.jpg" alt>
                                    </div>
                                    <h5>James Nuno</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$200</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img2.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            4.5<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>90</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>90</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title"><a href="search.html">Email & Affiliate Marketing Mastermind</a></h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user8.jpg" alt>
                                    </div>
                                    <h5>Nicole Brown</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$600</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img3.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            4.1<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>75</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>75</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title"><a href="search.html">Information About UI/UX Design Degree</a></h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user11.jpg" alt>
                                    </div>
                                    <h5>James Nuno</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$300</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course-box">
                        <div class="product">
                            <div class="product-img">
                                <a href="search.html">
                                    <img class="img-fluid" alt src="/assets/img/trend-img1.png" width="600" height="300">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="course-info d-flex align-items-center">
                                    <div class="rating rating-star">
                                        <i class="fas fa-star filled"></i>
                                        <span class="d-inline-block average-rating rate-point ">
                                            3.4<span class="rate-star-point">(15)</span>
                                        </span>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-file-alt file-pink"></i>
                                        <div class="course-point">
                                            <span>65</span>
                                        </div>
                                    </div>
                                    <div class="course-view">
                                        <i class="fas fa-user-graduate"></i>
                                        <div class="graduate-point">
                                            <span>65</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="title"><a href="search.html">Node (Beginner) Programming Tutorials</a></h3>
                                <div class="rating rating-star rating-two align-items-center">
                                    <div class="rating-img">
                                        <img src="/assets/img/user/user7.jpg" alt>
                                    </div>
                                    <h5>Omar Branch</h5>
                                    <div class="course-price">
                                        <h4><span>$99.00</span>$100</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="blog-home-two">
            <div class="container">
                <div class="section-top-head">
                    <div class="section-header aos " data-aos="fade-up">
                        <h2>From the Blog</h2>
                        <p class="sub-title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean
                            accumsan bibendum gravida maecenas augue elementum et neque. Suspendisse imperdiet.
                        </p>
                    </div>
                    <div class="section-btn align-items-center aos " data-aos="fade-up">
                        <a href="blog-details.html" class="btn btn-primary">View All</a>
                    </div>
                </div>
                <div class="blog-two-all aos " data-aos="fade-up">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-view">
                                <div class="blog-view-img">
                                    <a href="blog-details.html"><img src="/assets/img/blog/blog-11.png" alt></a>
                                </div>
                                <div class="blog-view-list d-flex">
                                    <p>05 May, 2021</p>
                                    <div class="blog-admin-view">
                                        <p>Written by <span>Admin</span></p>
                                    </div>
                                </div>
                                <div class="blog-bottom-head">
                                    <h4>
                                        <a href="blog-details.html">How to become a best sale marketer in a month!</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-view">
                                <div class="blog-view-img">
                                    <a href="blog-details.html"><img src="/assets/img/blog/blog-12.png" alt></a>
                                </div>
                                <div class="blog-view-list d-flex">
                                    <p>08 jun, 2022</p>
                                    <div class="blog-admin-view">
                                        <p>Written by <span>Admin</span></p>
                                    </div>
                                </div>
                                <div class="blog-bottom-head">
                                    <h4>
                                        <a href="blog-details.html">Guide to Using the Right Your DevOps Tools 2021</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="blog-view">
                                <div class="blog-view-img">
                                    <a href="blog-details.html"><img src="/assets/img/blog/blog-13.png" alt></a>
                                </div>
                                <div class="blog-view-list d-flex">
                                    <p>10 De, 2021</p>
                                    <div class="blog-admin-view">
                                        <p>Written by <span>Admin</span></p>
                                    </div>
                                </div>
                                <div class="blog-bottom-head">
                                    <h4>
                                        <a href="blog-details.html">The Right DevOps Tools 2021 Your Guide to Using</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> *@


        <section class="testimonial-two">
            <div class="container">
                <div class="section-header text-center aos " data-aos="fade-up">
                    <h2>Here is what our Clients are saying About us</h2>
                </div>
                <div class=" slider say-about slider-for aos " data-aos="fade-up">
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-all d-flex justify-content-center">
                            <div class="testimonial-two-head text-center">
                                <h3>It was a very good experience </h3>
                                <p>
                                    This is the best website I have ever seen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" slider client-img slider-nav aos " data-aos="fade-up">
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user1.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Tom</h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user2.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Nicole </h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user3.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">James </h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user4.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Omar </h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user5.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Paul </h4>
                        </div>
                    </div>
                    <div class="testimonial-thumb">
                        <img src="/assets/img/user/user6.jpg" alt>
                        <div class="say-client text-center">
                            <h4 class="say-client-name">Nicole</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        @* <section class="new-course new-course-join">
            <div class="container">
                <div class="new-course-background">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 d-flex align-items-center">
                            <div class="every-new-course aos " data-aos="fade-up">
                                <div class="new-course-text">
                                    <h1>Want to share your knowledge? Join usa Mentor</h1>
                                    <p class="page-sub-text ">
                                        High-definition video is video of higher resolution and
                                        quality than standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.
                                    </p>
                                </div>
                                <div class="join-more-two">
                                    <a href="search.html" class="btn btn-primary">Find More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 d-flex align-items-end">
                            <div class="new-course-img aos " data-aos="fade-up">
                                <img src="/assets/img/join-2.png" alt="new course">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> *@


        <footer class="footer footer-two">

            <div class="footer-top footer-two-top aos " data-aos="fade-up">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="footer-logo">
                                <img src="/assets/img/logo.png" alt="logo">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-list">
                                <ul class="footer-social-list">
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=61556136665929">Facebook</a>
                                    </li>
                                    <li>
                                        <p>Email: dropify842@gmail.com</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="subscriber-two">
                                <div class="subscriber-two-head">
                                    <h2>Subscribe</h2>
                                </div>
                                <form action="">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="E-Mail Address">
                                        <a href="search.html" class="btn bg-path d-flex align-items-center">
                                            <i class="fas fa-arrow-up"></i>
                                        </a>
                                    </div>
                                    <div class="bottom-border-two"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-about-content">
                                    <h2 class="footer-title">About Dropify</h2>
                                    <p class="footer-sub-text">
                                        DROPIFY is an online platform designed to assist customers in finding product at competitive prices or product that is hard to order (E.g From Amazon or Alibaba). DROPIFY acts as a third-party retailer, provide a competitive price while keeping the high-end value of the product.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Guest</h2>
                                <ul>
                                    <li><a href="search.html">Search Products</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Admin</h2>
                                <ul>
                                    <li><a href="appointments.html">Search Products</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="dashboard.html">Admin Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container">

                    <div class="copyright-border"></div>
                    <div class="copyright ">
                        <div class="row align-items-center">
                            <div class="col-md-6 ">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2023 Dropify. All rights reserved.</p>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="term-privacy">
                                    <div class="social-icon">
                                        <ul class="align-items-center">
                                            <li>
                                                <a href="javascript:void(0);">Terms</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Privacy </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Cookies </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="back-to-top show">
                        <a class="back-to-top-icon align-items-center justify-content-center d-flex show" href="#top">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

        </footer>

    </div>


    <script src="/assets/js/jquery-3.6.0.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/owl.carousel.min.js"></script>

    <script src="/assets/plugins/slick/slick.js"></script>

    <script src="/assets/plugins/aos/aos.js"></script>

    <script src="/assets/js/script.js"></script>
</body>

<!-- Mirrored from mentoring.dreamguystech.com/html/template/index-three.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:30:49 GMT -->

</html>