@page
@model LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from mentoring.dreamguystech.com/html/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:32:30 GMT -->
<head>
    <meta charset="utf-8">
    <title>Mentoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="account-page">
    <meta name="google-signin-client_id" content="596683861270-mob7go6seueibagkd7f88acv5s69l1et.apps.googleusercontent.com.googleusercontent.com">
    <div class="main-wrapper">

        <div class="bg-pattern-style" style="background:url('assets/img/abstract-gradient.jpg') no-repeat;background-position:center;background-size:cover;opacity:1">
            <div class="content">
                <div class="account-content">
                    <div class="account-box" style="height:640px; align-items:start;
                    background: rgba(255, 255, 255, 0.9);
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    "
                    >
                        <div class="login-right">
                            <div class="login-header">
                                <h3>Login <span>DROPIFY</span></h3>
                                <p class="text-muted">Access to our dashboard</p>
                            </div>
                            @if (TempData["msg"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @TempData["msg"]
                                </div>
                            }
                            <form method="post">
                                @{
                                    var emailErrors = ViewData.ModelState["User.Email"];
                                    var passwordErrors = ViewData.ModelState["User.Pword"];
                                }

                                @if (emailErrors != null && emailErrors.Errors.Count > 0)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <span>@emailErrors.Errors[0].ErrorMessage</span>
                                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                }
                                <div class="form-group">
                                    <label asp-for="User.Email" class="form-control-label"></label>
                                    <input class="form-control" asp-for="User.Email">
                                </div>

                                @if (passwordErrors != null && passwordErrors.Errors.Count > 0)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <span>@passwordErrors.Errors[0].ErrorMessage</span>
                                        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                }
                                <div class="form-group">
                                    <label asp-for="User.Pword" class="form-control-label"></label>
                                    <div class="pass-group">
                                        <input class="form-control pass-input" asp-for="User.Pword">
                                        <span class="fas fa-eye toggle-password"></span>
                                    </div>
                                </div>

                                <div class="text-end">
                                    <a class="forgot-link" href="forgot-password.html">Forgot Password ?</a>
                                </div>
                                <button class="btn btn-primary login-btn" type="submit">Login</button>
                                <br/>k9
                                <a asp-page="./Login" asp-page-handler="LoginWithGoogle" class="btn btn-google login-btn" id="google-login-btn">
                                    <i class="fab fa-google"></i> Login with Google
                                </a>
                                <script>
                                    document.getElementById('google-login-btn').addEventListener('click', function () {
                                        console.log("activeate");
                                    });
                                </script>

                                <meta name="google-signin-client_id" content="596683861270-mob7go6seueibagkd7f88acv5s69l1et.apps.googleusercontent.com">

                                <div class="text-center dont-have">Don’t have an account? <a href="/Register">Register</a></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script src="~/js/google.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>

<!-- Mirrored from mentoring.dreamguystech.com/html/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 May 2023 10:32:30 GMT -->
</html>